/* === UNIVERSAL STYLES === */

* {
    font-family: Helvetica;
}

html {
    font-size: 18px;
    line-height: 1.4;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* === LOGO AND NAVIGATION STYLES === */

nav a {
    padding-right: 2rem;
    text-decoration: none;
    color: white;
}

header {
    background-image: url("../images/background.png");
    height: 30rem;
    background-size: cover;
    background-position: top;
}

.header-bar {
    position: relative;
    top: 1rem;
    background-color: cadetblue;
    justify-content: space-between;
    padding: 1rem 0;
}

.header-bar, .logo {
    align-items: center;
}

/* Menu hidden on desktop display */
.hidden {
    display: none;
}

.logo img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.logo p {
    color: white;
}

/* === TAGLINE STYLES === */

.tagline {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    margin-top: 10rem;
    margin-right: -2rem;
    width: 30rem;
    float: right;
    text-align: center;
}

/* === ICON STYLES === */

.icons {
    justify-content: center;
    align-items: baseline;
    height: 8rem;
    margin: 3rem 0;
}

.icons img {
    display: block;
    vertical-align: top;
    margin: 0 auto;
}

.icons span {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.delivery img, .fittings img {
    width: 5rem;
}

.exams img {
    width: 3.5rem;
}

.fittings img {
    padding: 0 6rem;
    padding-bottom: .50rem;
}

/* === ABOUT SECTION === */

.about {
    justify-content: center;
    margin-bottom: 5rem;
}

.about h3 {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 0 0.5rem 1.25rem;
    margin-bottom: 1rem;
    width: 10rem;
}

.philosophy, .appointments {
    width: 35%;
    margin-right: 5%;
}
/* === FOOTER STYLES === */

footer {
    width: 960px;
    background-color: azure;
}

footer div {
    align-items: center;
    padding: 4rem 0;
}

footer img {
    height: 1.5rem;
    padding: 0 1rem 0 4rem;
}


/* === RESPONSIVE DESIGN === */

/* Tablet: Portrait and Landscape */

@media only screen and (max-width : 955px) {
    
    
    .about h3 {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .container {
        width: 100%;
    }

    .tagline {
        padding: 1.75rem 4rem;
        font-size: 1.33rem;
        width: 40%;
        margin-right: 2rem;
        margin-top: 5rem;
    }

    header {
        position: relative;
        top: -1rem;;
        width: 100%;
        height: 22rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 2rem;
        margin-top: 5rem;
    }

    header h2 {
        width: auto;
    }
    
    footer {
        width: 100%;
        background-size: cover;
        height: 9rem;
        margin-bottom: 5rem !important;
    }
    main {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 530px) {
        
        .container {
            100%;
        }
    
    .logo p {
        display: none;
    }
    
        .tagline {
        width: 100%;
        font-size: 1rem;
        margin-right: 0;
        margin-top: 9rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        }
    
        .icons {
            flex-direction: column;
            align-items: center;
            height: 20rem;
        }

    .icons span {
        font-size: .85rem;
        line-height: 1.25rem;
    }
    
        .fittings {
            padding: 1.54rem 0;
        }
        
        header {
            position: relative;
            top: -1rem;
            height: 17rem;
            background-size: cover;
            background-position: 20%;
    }
        
        .m-hidden {
            display: none;
        }
        
        .hidden {
            display: block;
        }
    
        .about {
            display: block;
        }
    
    .philosophy, .appointments {
        width: 100%;
        margin-top: 4rem;
    }
    
    .philosophy h3, .appointments h3 {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    
    footer {
        margin-bottom: 0 !important;
    }
    
    footer img {
        padding-left: 0;
        padding-right: 0;
        display: block;
        margin: 0 auto;
    }
    
    footer p {
        display: none;
    }
    
    
    
    
        main {
            margin-top: 3.77rem;
        }
    }